body{
    background-color:antiquewhite;
}

.head{
    text-align: center;
    color: lightcoral;
}

.image-container{
    text-align: center;
}

.image-container img{
    max-width:100%;
    height: 300px;
    border-radius: 20%;
}

li{
    color: black;
}

text{
    color: lightcoral;
}

em{
    color:lightcoral;
}